# envs/.env.example
COMPOSE_PROJECT_NAME=airflow-env
AIRFLOW_IMAGE_NAME=my-airflow-pipeline:v1.0.0
AIRFLOW_ENV=DEV
AIRFLOW_UI_PORT=8080
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password
MINIO_BUCKET=my-bucket
AIRFLOW_UID=50000